<template>
  <div>
    <AppHeader />
    <router-view></router-view>
    <AppFooter />
  </div>
</template>

<script setup lang="ts">
import AppHeader from './components/AppHeader.vue';
import {useRouter} from "vue-router";
import AppFooter from "./components/AppFooter.vue";

const router = useRouter();
const goBack = () => {
  router.go(-1);
};
</script>
