/* styles.css */
:root {
  --bs-body-bg: #121212;
  --bs-body-color: #e0e0e0;
  --bs-link-color: #bb86fc;
  --bs-link-hover-color: #3700b3;
  --bs-primary: #bb86fc;
  --bs-secondary: #03dac6;
  --bs-success: #4caf50;
  --bs-info: #2196f3;
  --bs-warning: #ffc107;
  --bs-danger: #f44336;
  --bs-light: #f8f9fa;
  --bs-dark: #121212;
}

.form-text {
  color: #e0e0e0 !important;
}

/* Placeholder color for dark theme */
::placeholder {
  color: #bbbbbb !important;
}

:-ms-input-placeholder {
  color: #bbbbbb !important;
}

::-ms-input-placeholder {
  color: #bbbbbb !important;
}
