<script setup lang="ts">

</script>

<template>
    <hr class="mt-5 mb-4">
    <p class="text-light">Jorge V&aacute;zquez - generar estimado de precio de propiedades</p>
</template>

<style scoped>

</style>