<script setup lang="ts">
import apiConfig from "../apiConfig";
import {
  BudgetCalculatorResponse,
  BudgetCalculatorWriteRequest,
} from "../interfaces/BudgetCalculatorResponse";
import {BudgetCalculatorCreate} from "../services/concrete/budgetCalculatorCreate";
import {createService} from "../services/factoryCreateService";
import {computed, ref} from "vue";

const response = ref<BudgetCalculatorResponse | null>(null);
const propertyPrice = ref<number>(0);
const auctioneerPrice = ref<number | null>(null);
const selectedPercentage = ref(null);
const showResults = ref<boolean>(false);

const generateEstimate = async () => {
  const service = createService<BudgetCalculatorResponse, BudgetCalculatorCreate<BudgetCalculatorResponse>>(
      BudgetCalculatorCreate,
      apiConfig.API_CALCULATE
  );
  const notaryRange = selectedPercentage.value !== null ? [Number(selectedPercentage.value)] : [];
  const auctioneerRate = auctioneerPrice.value !== null ? auctioneerPrice.value : 0;

  const request: BudgetCalculatorWriteRequest = {
    propertyPrice: propertyPrice.value,
    notaryRange,
    auctioneerRate
  };

  const res: BudgetCalculatorResponse = await service.createBudget(request);
  if (res.success) {
    response.value = res;
    showResults.value = true;
  } else {
    console.error("Failed to calculate budget:", res);
  }
}
// Computed property to sort notaryPriceRange
const sortedNotaryPriceRange = computed(() => {
  if (response.value && response.value.notaryPriceRange) {
    const sortedEntries = Object.entries(response.value.notaryPriceRange).sort(([a], [b]) => parseFloat(a) - parseFloat(b));
    return sortedEntries.map(([key, value]) => ({ key, value }));
  }
  return [];
});
const calculateTotal = (propertyPrice: number, notaryPrice: number, auctioneerPrice: number): number => {
  return propertyPrice + notaryPrice + auctioneerPrice;
};
</script>

<template>
  <div class="container mt-3">
    <!-- Form -->
    <div class="row">
      <div class="col">
        <form @submit.prevent="generateEstimate">
          <div class="row">
            <!-- Property Price -->
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="precioPropiedad">Precio publicitado de la propiedad</label>
                <input type="number" class="form-control" id="precioPropiedad" aria-describedby="precioAyuda"
                       placeholder="Ingresa precio publicitado de la propiedad"
                       v-model="propertyPrice">
                <small id="precioAyuda" class="form-text text-muted">Ingresa el monto como está publicado en el anuncio o la oferta que pensas hacer</small>
              </div>
            </div>

            <!-- Notary Range -->
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="notaryRange">Porcentaje del escribano</label>
                <input type="range" id="notaryRange" class="form-range" min="7" max="10" step="0.01" v-model="selectedPercentage" aria-describedby="notaryRangeHelp"/>
                <span>{{ selectedPercentage }}%</span><br/>
                <small id="notaryRangeHelp" class="form-text text-muted">Desliza el slider para definir el monto exacto</small>
              </div>
            </div>

            <!-- Auctioneer Price -->
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label for="auctioneerPrice">Porcentaje de martillero / inmobiliaria</label>
                <input type="number" class="form-control" id="auctioneerPrice" aria-describedby="auctioneerPriceHelp"
                       placeholder="Ingresa el porcentaje de martillero / inmobiliaria"
                       v-model.number="auctioneerPrice" step="0.1"/>
                <small id="auctioneerPriceHelp" class="form-text text-muted">Ingresa el porcentaje del martillero/inmobiliaria. Escrib&iacute; 3 para indicar 3%</small>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <button type="submit" class="btn btn-primary">Calcular</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- Form end -->

    <!-- Response -->
    <div class="row mt-4" v-if="showResults">
      <div class="col">
        <div v-if="response">
          <h3>Resultado del cálculo:</h3>
          <p><strong>Precio de la propiedad:</strong> {{ response.propertyPrice }} USD</p>
          <p><strong>Rango de precios de escribano:</strong></p>
          <ul>
            <li v-for="({ key, value }) in sortedNotaryPriceRange" :key="key">
              {{ key }}%: {{ value.toFixed(2) }} USD
              <div class="text-light">
                (Total sobre valor de escritura considerando rematador y escribania: {{ calculateTotal(response.propertyPrice, value, response.auctioneerPriceHalved).toFixed(2) }} USD)
              </div>
              <div class="text-light">
                (Total sobre valor de propiedad considerando rematador y escribania: {{ calculateTotal(response.propertyPrice, value, response.auctioneerPriceGross).toFixed(2) }} USD)
              </div>
            </li>
          </ul>
          <p><strong>Precio de la rematadora sobre escritura:</strong> {{ response.auctioneerPriceHalved.toFixed(2) }} USD</p>
          <p><strong>Precio de la rematadora sobre precio publicado:</strong> {{ response.auctioneerPriceGross.toFixed(2) }} USD</p>
        </div>
        <div v-else>
          <p>No hay resultados para mostrar.</p>
        </div>
      </div>
    </div>
    <!-- Response end -->
  </div>
</template>