<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h1 class="text-center mt-5">Generar estimado de precio de propiedades</h1>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
</script>
